@import "node_modules/bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(back-img.jpg);
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
    }

.toto {
    height: 100px;
}
.welcome {
    font-size: 1.2em;
    background-color: antiquewhite;
    margin-top: 10%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
    border-radius: 3px/6px;
}

.timer {
    font-size: 1.2em;
    color: black;
    background-color: red;
}

.log {
    width: 100%;
    bottom:0%;
    margin-top: 1%;
    background: #ffe;
    font-size: 1.2em;
    font-family: monospace;
    overflow-y: scroll;
    background-color: grey;
}


.log-line {
    padding: 4px;
}

.Button {
    padding-left: 7%;
}
