html, body, .grid-container { height: 100%; margin: 0; }

body {
    background-image: url(back-img.jpg);
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid-container * {
 position: relative;
}

.grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 0.7fr;
  grid-template-areas: "editor" "log";
}

.editor {
    position: absolute;
    top: 42px;
    left: 350px;
    padding: 1em;
    font-size: 1.2em;
    border: 1px solid;
    border-width: 1px;
    background-color: antiquewhite;
    grid-area: editor;
}

.log {
    position: absolute;
    top: 70%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    margin: 0;
    padding: 10px;
    background: #ffe;
    font-size: 1.2em;
    font-family: monospace;
    overflow-y: scroll;
    background-color: grey;
    grid-area: log;
}


#log-wrapper .log-line {
    padding: 4px;
}

